.about-carousel__slides {
    font-size: 20px;
    font-family: var(--font-family-paragraph);
    color: var(--font-color-white);
}

.about-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .about-carousel {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}